#todosLosElementos{
    font: 1em/1.3 Arial, Helvetica, sans-serif;    
}

p {
    color: #555;
}

div#primero p {
    color: #336699;
}

a {
    color: #CC3300;
}

div#primero em {
    background: #fbd0dd;
    padding: .1em;
}

.normal span {
    font-weight: bold;
}

.normal em.especial{
    background: #FFCC99;
    border: 1px solid #FF9900;
    padding: .1em;
}